<div id="<%= dom_id dock %>">
  <p>
    <strong>Title:</strong>
    <%= dock.title %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= dock.format %>
  </p>

  <%= render "docks/attachment", dock: dock %>

</div>
